/* recherche.css - Spécifique à la page de recherche des voyages */

.filters {
    display: flex;
    flex-wrap: wrap; /* Permet de passer sur une nouvelle ligne si besoin */
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #034C8C;
    border-radius: 8px;
}

.filters input[type="checkbox"] {
    width: auto;
    margin-left: 5px;
}

.filters label {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.filters select, .filters input, .filters button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.filters select, .filters input {
    background-color: white;
    color: black;
}

.filters button {
    background-color: #D9851E;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.filters button:hover {
    background-color: #048ABF;
}




.voyages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.voyage-card {
    border: 2px solid #034C8C;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    background-color: white;
}

.voyage-card img {
    width: 100%;
    border-radius: 8px;
}

.voyage-card h3 {
    margin: 10px 0;
    color: #034C8C;
}

.voyage-card p {
    font-size: 16px;
    color: #555;
}
.options-details {
    background-color: #034C8C;
    border-radius: 8px;
    padding: 10px;
    color: white;
    margin-top: 10px;
    font-size: 16px;
}

.options-details summary {
    background-color: #D9851E;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
    align-items: center;
}

.options-details summary:hover {
    background-color: #048ABF;
}

.options-details label {
    display: block;
    margin: 8px 0;
}